h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

img {
    box-shadow: 10px 10px 10px;
}

section {
    background-color: aliceblue;
}

p {
    font-size: 20px;
}

ul {
    border: solid;
}

#center {
    text-align: center;
}