div .row div{
    background-color: gainsboro;
}

body div {
    border: 1px solid black;
}

#figCol {

}

h1 {
    text-align: center;
}

/*
img {
    margin: auto;
    display: block;
}*/

.centered {
    float: none;
    margin-left: 0;
    margin-right: 0;
}
